.page {
  width: 100%;
  padding-top: 92px;
  margin: 0 auto;
  background: #354c99 url(../assets/background/newsbg.jpg) center top no-repeat;
}
.news-wrap {
  width: 1240px;
  margin: 0 auto;
  padding-bottom: 35px;
  .news-title {
    font-size: 60px;
    font-weight: bold;
    color: #9c9c9c;
    text-align: center;
    padding: 50px 0;
    :first-child {
      color: #fff;
    }
    :last-child {
      display: inline-block;
      font-size: 40px;
      transform: skew(-11deg);
      margin-left: 15px;
    }
  }
  .news-content {
    border: 2px solid #646798;
    border-radius: 5px;
    .content-box {
      background: rgba(15,20,97,.9);
      border: 6px solid rgba(255,255,255,.2);
      padding: 18px 14px;
      .news-cates {
        display: flex;
        font-size: 30px;
        font-weight: bold;
        color: #fff;
        margin-bottom: 25px;
        padding-left: 10px;
        .news-cate {
          cursor: pointer;
          width: 170px;
          height: 60px;
          line-height: 60px;
          border-radius: 14px;
          text-align: center;
          background: #0097de;
          margin-right: 10px;
          -webkit-transform: skew(-20deg);
          transform: skew(-20deg);
          &:hover {
            background-color: #33c8ff;
          }
          &.active {
            background: #fff ;
            color: #0097de;
          }
          span {
            display: inline-block;
            -webkit-transform: skew(20deg);
            transform: skew(20deg);
          }
        }
      }
      .news-list {
        min-height: 200px;
        .news-item {
          background: #282d72;
          border: 2px solid #404481;
          border-radius: 5px;
          margin-bottom: 24px;
          color: #fff;
          cursor: pointer;
          &:hover .news-item-info {
            color: #62eaf5;
          }
          .news-item-img {
            width: 225px;
            height: 110px;
            overflow: hidden;
            flex-shrink: 0;
            img {
              display: block;
              width: 100%;
              height: 100%;
            }
          }
          .news-item-msg {
            width: 970px;
            padding: 20px 30px;
            position: relative;
            flex-shrink: 0;
            .news-item-title {
              color: #62eaf5;
              font-size: 21px;
              font-weight: bold;
              display: flex;
              align-items: center;
              justify-content: space-between;
              position: relative;
              margin-bottom: 20px;
              padding-bottom: 8px;
              .title-info {
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
              }
              span {
                font-weight: 400;
                width: 240px;
                flex-shrink: 0;
                text-align: right;
              }
              .item-line {
                position: absolute;
                width: calc(100% - 14px);
                bottom: -5px;
                left: 7px;
                height: 1px;
                background: rgba(98,234,245,.2);
              }
            }
            .news-item-info {
              font-size: 19px;
              // color: #fff;
              font-weight: 400;
              overflow: hidden;
              text-overflow: ellipsis;
              white-space: nowrap;
              
            }
          }
          
        }
      }
    }
  }
}